.onboarding {
  background: $v-onboarding-gradient-top-color;
  color: $v-onboarding-color;
  height: 100%;
  text-align: center;
  .bar.bar-header {
    background: none;
    border: 0 none transparent;
    color: $v-onboarding-bar-header-color;
  }
  .onboarding-topic,
  .onboarding-description,
  .onboarding-tldr {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .onboarding-topic {
    font-size: 20px;
    margin-top: 2rem;
    line-height: 1.3;
    @media(max-width: 350px) {
      font-size: 20px;
    }
  }
  .onboarding-description {
    margin-top: 0.5rem;
    font-size: 14px;
    color: rgba(255,255,255,0.75);
    line-height: 1.5;
    @media(max-width: 350px) {
      line-height: 1.3;
    }
    @media(max-height: 480px) {
      font-size: 16px;
    }
  }
  .onboarding-tldr {
    font-size: 14px;
    margin-top: 1rem;
    margin-bottom: 1em;
    line-height: 1.3;
    @media(max-width: 350px) {
      font-size: 16px;
    }
    @media(max-height: 480px) {
      font-size: 14px;
    }
  }

  svg#alert-icon g {
    stroke: $v-onboarding-backup-alert-icon-color;
  }

  #arrow-down {
    color: $v-onboarding-backup-alert-icon-color !important;
  }

  .back-button .icon:before {
    color: #ffffff;
  }
}

%cta-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pane-onboarding{
  background: $v-onboarding-pane-bg;
}

@import "terms-of-use";
@import "onboard-welcome";
@import "onboard-tour";
@import "onboard-collect-email";
@import "onboard-backup-request";
@import "../backup-warning";
@import "onboard-disclaimer";

%onboarding-illustration {
  width: 100%;
  margin-top: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

@media(max-height: 600px) {
  %onboarding-illustration {
    height: 30%;
  }
}

@media(max-height: 480px) {
  %onboarding-illustration {
    height: 20%;
  }
}

@media(min-height: 600px) {
  %onboarding-illustration {
    height: 35%;
  }
}

.onboarding-illustration {
  &-secure {
    @extend %onboarding-illustration;
      background-image: $v-onboarding-tour-phone-bg;
  }
  &-currency {
    @extend %onboarding-illustration;
      background-image: $v-onboarding-tour-currency-bg;
  }
  &-control {
    @extend %onboarding-illustration;
      background-image: $v-onboarding-tour-control-bg;
  }
  &-backup-warning {
    @extend %onboarding-illustration;
      background-image: $v-onboarding-backup-warning-bg;
  }
}
