#onboarding-tour {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 180px;
  }

  .cta-buttons {
    height: 120px;
    @extend %cta-buttons;
  }
  #onboarding-illustration-currency-exchange-rate {
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 10px;
    margin: 0px auto 0;
    position: relative;
    width: 140px;
    z-index: 1;
  }
  .swiper-pagination {
    &-bullet {
      background: $v-onboarding-tour-swiper-pagination-bg;
      &-active {
        background: $v-onboarding-tour-swiper-pagination-bg;
      }
    }
  }
}
