%button-standard {
  width: 85%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button,
.onboarding .button {
  border-radius: 30px;

  &.button-primary {
    background: #FFFFFF;
    color: $v-dash-blue;

    &:hover, &:active {
      background: #FFFFFF;
      color: $v-dash-blue;
    }
  }

  &.button-secondary {
    color: #FFFFFF !important;
  }

  &.button-primary,
  &.button-secondary,
  &.button-light,
  &.button-energized,
  &.button-assertive {
    &.button-standard {
      @extend %button-standard;
      & + .button-standard {
        margin-top: 1rem;
      }
    }
  }
  &.button-clear {
    margin-top: 0 !important;
  }
}
.onboarding .button {
  &.button-secondary {
    @include button-style($v-dash-blue, $v-button-primary-border, lighten($v-dash-blue, 7%), $v-button-primary-active-border, #ffffff);
    @include button-clear($v-button-secondary-color);
    @include button-outline($v-dash-blue);
  }
}

.button {
  &.button-secondary {
    @include button-style($v-button-secondary-bg, $v-button-secondary-border, $v-button-secondary-active-bg, $v-button-secondary-active-border, $v-button-secondary-color);
    @include button-clear($v-button-secondary-color);
    @include button-outline($v-button-secondary-color);
  }
}
