%button-standard {
  width: calc(100% - 60px);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button,
.onboarding .button {
  border-radius: 25px;

  &.button-primary {
    background: #FFFFFF;
    color: $v-dash-blue;

    &:hover, &:active {
      background: #FFFFFF;
      color: $v-dash-blue;
    }
  }

  &.button-secondary {
    color: #FFFFFF !important;
  }

  &.button-primary,
  &.button-secondary,
  &.button-light,
  &.button-energized,
  &.button-assertive {
    &.button-standard {
      @extend %button-standard;
      & + .button-standard {
        margin-top: 1rem;
      }
    }
  }
}
.onboarding .button {
  &.button-secondary {
    color: #FFFFFF;
    border: 1px solid #ffffff;
  }
}

.button {
  &.button-secondary {
    @include button-style($v-button-secondary-bg, $v-button-secondary-border, $v-button-secondary-active-bg, $v-button-secondary-active-border, $v-button-secondary-color);
    @include button-clear($v-button-secondary-color);
    @include button-outline($v-button-secondary-color);
  }
}

.button-default {
  background-color: #ffffff !important;
  border: 1px solid $v-dash-blue;
  color: $v-dash-blue;
}

.button-primary {
  background-color: $v-dash-blue;
}
