@font-face {
  font-family: 'Montserrat-Black';
  src: url('../montserrat-font/Montserrat-Black.woff2') format('woff2'),
  url('Montserrat-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Black-Italic';
  src: url('../montserrat-font/Montserrat-BlackItalic.woff2') format('woff2'),
  url('Montserrat-BlackItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../montserrat-font/Montserrat-Bold.woff2') format('woff2'),
  url('Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Bold-Italic';
  src: url('../montserrat-font/Montserrat-BoldItalic.woff2') format('woff2'),
  url('Montserrat-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../montserrat-font/Montserrat-Italic.woff2') format('woff2'),
  url('Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Light';
  src: url('../montserrat-font/Montserrat-Light.woff2') format('woff2'),
  url('Montserrat-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Light-Italic';
  src: url('../montserrat-font/Montserrat-LightItalic.woff2') format('woff2'),
  url('Montserrat-LightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../montserrat-font/Montserrat-Medium.woff2') format('woff2'),
  url('Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Medium-Italic';
  src: url('../montserrat-font/Montserrat-MediumItalic.woff2') format('woff2'),
  url('Montserrat-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Roboto';
  src: url('../montserrat-font/Montserrat-Regular.woff2') format('woff2'),
  url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Thin';
  src: url('../montserrat-font/Montserrat-Thin.woff2') format('woff2'),
  url('Montserrat-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Montserrat-Thin-Italic';
  src: url('../montserrat-font/Montserrat-ThinItalic.woff2') format('woff2'),
  url('Montserrat-ThinItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
