.button-clear{
  background: none !important;
}

.button-skip{
  width: 85% !important;
  border-color: #000000 !important;
  border: 1px solid !important;
  color: #000000 !important;
  margin-bottom: 10px !important;
}
