<ion-view id="buy-and-sell" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>Buy or Sell Dash</ion-nav-title>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <div class="explain">
        <i class="icon buy-and-sell-icon">
          <img src="img/128x128.png">
        </i>
        <div class="explain-heading">Connect an Exchange</div>
        <div class="explain-description">Buy or sell Dash directly from your wallet by connecting your exchange accounts.</div>
      </div>
      <div class="item item-divider"></div>
        <div><a ng-click="openExternalLink('http://www.dash.org/exchanges')">Buy Dash on Dash.org</a></div>
    </div>
  </ion-content>
</ion-view>
